<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

  </head>
  <body>
    <div id="menu">
      <div class="logo">
        <img src="{%static 'img/tost.svg' %}" id="logo" width="100px" height="50px" />
      </div>

      <!--[S] gnb -->
      <div id="menubar">
        <nav id="gnb" align="center">
          <ul class="clear">
            <li class="introduce">
              <div class="depth1">
                <a
                  href="/introduce/intro.nhd"
                  onclick="GA_Event('PC_메뉴', '메뉴', '소개_H.Point소개');"
                  >기업정보</a
                >
              </div>
              <ul
                class="depth2"
                style="
                  display: none;
                  height: 127px;
                  padding-top: 15px;
                  margin-top: 0px;
                  padding-bottom: 0px;
                  margin-bottom: 0px;
                "
              >
                <li>
                  <a
                    href="/introduce/intro.nhd"
                    onclick="GA_Event('PC_메뉴', '메뉴', '소개_H.Point소개');"
                    >H.Point소개</a
                  >
                </li>
                <li>
                  <a
                    href="/introduce/shopping.nhd"
                    onclick="GA_Event('PC_메뉴', '메뉴', '소개_사용처안내');"
                    >사용처안내</a
                  >
                </li>
                <li>
                  <a
                    href="/introduce/benefit.nhd"
                    onclick="GA_Event('PC_메뉴', '메뉴', '소개_가입혜택');"
                    >가입혜택</a
                  >
                </li>
              </ul>
            </li>
            <li class="collect">
              <div class="depth1">
                <a
                  href="/stack/joy.nhd"
                  onclick="GA_Event('PC_메뉴', '메뉴', '쌓기_즐길거리');"
                  >시험일정</a
                >
              </div>
              <ul
                class="depth2"
                style="
                  display: none;
                  height: 171px;
                  padding-top: 15px;
                  margin-top: 0px;
                  padding-bottom: 0px;
                  margin-bottom: 0px;
                "
              >
                <li>
                  <a
                    href="/stack/joy.nhd"
                    onclick="GA_Event('PC_메뉴', '메뉴', '쌓기_즐길거리');"
                    >즐길거리</a
                  >
                </li>
                <li>
                  <a
                    href="/stack/change.nhd"
                    onclick="GA_Event('PC_메뉴', '메뉴', '쌓기_전환하기');"
                    >전환하기</a
                  >
                </li>
                <li>
                  <a
                    href="/stack/charge.nhd"
                    onclick="GA_Event('PC_메뉴', '메뉴', '쌓기_충전하기');"
                    >충전하기</a
                  >
                </li>
                <li>
                  <a
                    href="/stack/coupon.nhd"
                    onclick="GA_Event('PC_메뉴', '메뉴', '쌓기_영수증쿠폰');"
                    >영수증/쿠폰</a
                  >
                </li>
              </ul>
            </li>
            <li class="use">
              <div class="depth1">
                <a
                  href="/friend/point.nhd"
                  onclick="GA_Event('PC_메뉴', '메뉴', '쓰기_포인트샵');"
                  >성적확인</a
                >
              </div>
              <ul
                class="depth2"
                style="
                  display: none;
                  height: 127px;
                  padding-top: 15px;
                  margin-top: 0px;
                  padding-bottom: 0px;
                  margin-bottom: 0px;
                "
              >
                <li>
                  <a
                    href="/friend/point.nhd"
                    onclick="GA_Event('PC_메뉴', '메뉴', '쓰기_포인트샵');"
                    >포인트샵</a
                  >
                </li>
                <li>
                  <a
                    href="/friend/gift.nhd"
                    onclick="GA_Event('PC_메뉴', '메뉴', '쓰기_선물하기');"
                    >선물하기</a
                  >
                </li>
                <li>
                  <a
                    href="/friend/donate.nhd"
                    onclick="GA_Event('PC_메뉴', '메뉴', '쓰기_기부하기');"
                    >기부하기</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="main-wrap" width="40px" height="20px">
        <form class="loginForm" action="" method="post">
          <div class="textForm" div style="text-align: center">
            <input name="loginId" type="text" class="id" placeholder="아이디" />
          </div>
          <div class="textForm" div style="text-align: center">
            <input
              name="loginPw"
              type="password"
              class="pw"
              placeholder="비밀번호"
            />
          </div>
          <div class="button" style="text-align: center">
            <button>로그인</button>
          </div>
          <p class="forget-msg">
            아이디찾기 | 비밀번호찾기 | <a href="회원가입.html">회원가입</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
